@import "tailwindcss";
@plugin "daisyui";

.my-sidebar-button {
  @apply cursor-pointer flex items-center gap-1.5 border-2 border-base-200 w-full text-start font-medium  hover:bg-[#f8f8f8] transition-transform duration-75 ease-in-out hover:scale-102 rounded-sm p-3;
}

.my-button {
  @apply inline-flex items-center px-5 py-2.5 text-white font-semibold
         bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
         shadow-md hover:scale-[1.02] transform transition duration-200
         focus:outline-none focus:ring-4 focus:ring-purple-300;
}

:root {
  --section-gap: 110px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  :root {
    --section-gap: 80px;
  }
}

@media (max-width: 768px) {
  :root {
    --section-gap: 60px;
  }
}

@media (max-width: 480px) {
  :root {
    --section-gap: 36px;
  }
}
