@import "tailwindcss";
@plugin "daisyui";

.my-sidebar-button {
  @apply cursor-pointer flex items-center gap-1.5 border-2 border-base-200 w-full text-start font-medium  hover:bg-[#f8f8f8] transition-transform duration-75 ease-in-out hover:scale-102 rounded-sm p-3;
}
